@use "../../common/variables" as *;

.brand-banner {
  position: relative;
  padding-bottom: 10px;
  transform: rotate(-4deg);
  transform-origin: 0;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    left: -23px;
    top: 50px;
    display: block;
    width: 156px;
    aspect-ratio: 146 / 334;
    background-image: url("../../img/cat-balloon-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(4deg);
  }

  &::after {
    content: "";
    position: absolute;
    right: -47px;
    top: -4px;
    display: block;
    width: 240px;
    aspect-ratio: 207 / 408;
    background-image: url("../../img/cat-balloon-3.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(4deg);
  }

  &__wrapper {
    background-color: $color-default-black;
    color: $color-default-white;
    border-radius: 60px;
    padding: 96px 50px 55px;
    display: flex;
    flex-direction: column;
    gap: 47px;
    align-items: center;
    box-shadow: 0 10px 0 $color-default-grey;
  }

  &__button {
    transform: rotate(-4deg);
    position: relative;
    z-index: 1;
  }

  &__logo {
    position: relative;
    z-index: 1;
    width: 690px;
    aspect-ratio: 690 / 167;

    img {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 1240px) {
    &::before {
      left: 3%;
      width: 150px;
    }

    &::after {
      right: 3%;
      width: 210px;
    }

    &__logo {
      width: 670px;
    }
  }

  @media (max-width: 1024px) {
    &__wrapper {
      padding: 60px 30px 35px;
    }

    &::before {
      width: 100px;
    }

    &::after {
      width: 150px;
    }

    &__logo {
      width: 560px;
    }
  }

  @media (max-width: 768px) {
    transform: none;
    padding-bottom: 0;

    &__wrapper {
      padding: 40px 30px 30px;
      box-shadow: none;
      gap: 30px;
      border-radius: 40px;
    }

    &::before {
      width: 10%;
    }

    &::after {
      top: 5%;
      width: 16%;
    }

    &__logo {
      width: 300px;
    }
  }

  @media (max-width: 425px) {
    &__wrapper {
      padding: 20px 10px 15px;
      border-radius: 25px;
    }

    &::before {
      opacity: 0.6;
    }

    &::after {
      opacity: 0.6;
    }

    &__logo {
      width: 200px;
    }
  }
}
