@use "../../common/variables" as *;

.button {
  display: block;
  padding: 18px 32px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: "Opsilon", "Arial", sans-serif;
  font-size: 32px;
  line-height: 120%;
  border-radius: 80px;
  border: 1px solid currentColor;
  box-shadow: -5px 9px 0 currentColor;
  color: currentColor;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $color-accent-second;
  }

  @media (max-width: 1024px) {
    font-size: 28px;
    padding: 15px 25px;
  }

  @media (max-width: 768px) {
    font-size: 22px;
    padding: 10px;
    border-radius: 60px;
    box-shadow: -4px 7px 0 currentColor;
  }
}

.button--small {
  padding: 12px 20px;
  font-size: 24px;
  line-height: 100%;
  box-shadow: -4px 6px 0 currentColor;

  @media (max-width: 1024px) {
    font-size: 22px;
  }

  @media (max-width: 768px) {
    font-size: 20px;
    padding: 10px;
  }

  @media (max-width: 425px) {
    font-size: 18px;
    padding: 7px;
  }
}

.button--dark {
  color: $color-default-white;
  background-color: $color-default-black;
}

.button--light {
  color: $color-default-black;
  background-color: $color-default-white;
}
