.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 195px;

  @media (max-width: 1439px) {
    padding: 0 120px;
  }

  @media (max-width: 1240px) {
    padding: 0 40px;
  }

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}
