@use "../../common/variables" as *;

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
  background-color: $color-default-white;
  color: $color-default-black;
  border-radius: 60px;
  padding: 32px;
  min-height: 320px;
  box-shadow: inset 0 -10px 0 $color-transparent-grey;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: $color-text-black;
  }

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
    max-width: 408px;
    font-weight: 700;
  }

  &__icon {
    flex-shrink: 0;
    color: $color-accent-second;
    width: 42px;
    height: 42px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 1024px) {
    gap: 10px;
    border-radius: 40px;
    padding: 25px;
    min-height: 280px;

    &__text {
      gap: 10px;
    }
  }

  @media (max-width: 768px) {
    gap: 20px;
    min-height: auto;
    padding: 20px 15px;
    border-radius: 30px;

    &__text {
      gap: 20px;
    }

    &__description {
      max-width: none;
    }

    &__icon {
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width: 425px) {
    gap: 15px;
    border-radius: 20px;
    box-shadow: none;

    &__text {
      gap: 10px;
    }

    &__icon {
      width: 26px;
      height: 26px;
    }
  }
}
