@use "../../common/variables" as *;

.footer {
  position: relative;
  padding: 30px 0 60px;
  background-color: $color-accent-main;
  color: $color-default-black;
  margin-top: -1px;
  z-index: 1;

  &__wrapper {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
  }

  &__phone {
    flex-shrink: 0;
  }

  @media (max-width: 1024px) {
    padding: 20px 0;

    &__wrapper {
      flex-direction: column;
      gap: 20px;
    }
  }

  @media (max-width: 768px) {
    padding: 15px 0;
    border-top: 1px solid currentColor;

    &__nav {
      max-width: 460px;
    }
  }
}

.footer--dark {
  background-color: $color-default-black;
  color: $color-text-white;
}
