@use "../../common/variables" as *;

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 50;

  &__wrapper {
    min-height: 444px;
    max-height: calc(100vh - 100px);
    display: grid;
    grid-template-areas:
      "title   button"
      "content content";
    grid-template-rows: min-content 1fr;
    row-gap: 60px;
    column-gap: 10px;
    padding: 32px;
    border-radius: 60px;
    background-color: $color-default-white;
    color: $color-default-black;
    box-shadow: 0 10px 0 $color-text-grey;
    overflow-y: auto;
  }

  &__title {
    grid-area: title;
    align-self: center;
  }

  &__button {
    grid-area: button;
    align-self: start;
    justify-self: end;
    margin-top: 10px;
    border: none;
    padding: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s;

    &::before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      mask-image: url("../../img/plus.svg");
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;
      background-color: currentColor;
      transform: rotate(45deg);
    }

    &:hover {
      color: $color-accent-second;
    }
  }

  &__content {
    grid-area: content;
    align-self: start;
  }

  @media (max-width: 1024px) {
    &__wrapper {
      min-height: 340px;
      row-gap: 40px;
      border-radius: 40px;
      padding: 30px 20px;
    }

    &__button {
      margin-top: 2px;
    }
  }

  @media (max-width: 768px) {
    &__wrapper {
      width: max-content;
      margin: 0 auto;
      grid-template-areas:
        "title   button"
        "content content";
      min-height: 280px;
      max-height: calc(100vh - 50px);
      row-gap: 20px;
      padding: 20px;
    }

    &__title {
      text-align: center;
      font-size: 30px;
    }

    &__button {
      padding: 7px;
      margin-top: 0;
      margin-right: -5px;

      &::before {
        width: 22px;
        height: 22px;
      }
    }
  }

  @media (max-width: 425px) {
    &__wrapper {
      width: 100%;
      grid-template-areas:
        ".       title   button"
        "content content content";
      grid-template-columns: 1fr auto 1fr;
      row-gap: 15px;
      padding: 20px 15px;
      border-radius: 30px;
    }

    &__title {
      max-width: 200px;
      font-size: 28px;
    }

    &__button {
      &::before {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.modal.is-modal-opened {
  display: flex;
}
