@use "../../common/variables" as *;

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  row-gap: 9px;

  &__link {
    padding: 5px 13px;
    border-radius: 70px;
    font-size: 16px;
    line-height: 100%;
    box-shadow: -1px 2px 0 currentColor;
  }

  &__link.is-active {
    border: none;
    box-shadow: none;
    color: $color-accent-second;
    pointer-events: none;
  }
}

.footer {
  .nav__link {
    padding: 8px 20px;
    font-size: 18px;
  }

  @media (max-width: 1024px) {
    .nav__link {
      padding: 5px 13px;
      font-size: 16px;
    }
  }
}
