.short-delivery {
  padding: 50px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    max-width: 402px;
  }

  &__subtitle {
    margin: 0 0 24px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 28px;
    letter-spacing: 1px;
  }

  &__text-item {
    margin: 0;
  }

  &__image {
    width: 841px;
    aspect-ratio: 841 / 655;
    margin-right: -195px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 1439px) {
    &__image {
      margin-right: -120px;
    }
  }

  @media (max-width: 1240px) {
    &__image {
      margin-right: -40px;
    }
  }

  @media (max-width: 1024px) {
    padding: 100px 0 60px;

    &__wrapper {
      flex-direction: column;
    }

    &__content {
      max-width: none;
    }

    &__subtitle {
      margin: 0 0 20px;
    }

    &__text {
      gap: 17px;
    }

    &__image {
      width: auto;
      margin-right: 0;
    }
  }

  @media (max-width: 768px) {
    padding: 70px 0 40px;

    &__content {
      padding: 0 20px;
      align-self: flex-start;
    }

    &__text {
      gap: 10px;
    }

    &__image {
      margin: 0 -10px;
    }
  }

  @media (max-width: 425px) {
    padding: 40px 0;

    &__content {
      padding: 0 15px;
    }

    &__subtitle {
      margin: 0 0 15px;
    }
  }
}
