.subheading {
  font-family: "Opsilon", "Arial", sans-serif;
  font-size: 32px;
  line-height: 120%;
  font-weight: 400;

  @media (max-width: 1024px) {
    font-size: 28px;
  }

  @media (max-width: 768px) {
    font-size: 22px;
  }
}
