.title {
  font-family: "Opsilon", "Arial", sans-serif;
  font-size: 60px;
  line-height: 110%;
  font-weight: 400;

  @media (max-width: 1240px) {
    font-size: 50px;
  }

  @media (max-width: 1024px) {
    font-size: 42px;
  }

  @media (max-width: 768px) {
    font-size: 38px;
  }
}
