@use "../../common/variables" as *;

.short-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px 54px;
  background-color: $color-default-white;
  border-radius: 60px;
  font-family: "Opsilon", "Arial", sans-serif;
  font-size: 32px;
  line-height: 120%;
  text-align: center;

  &__icon {
    width: 52px;
    height: 52px;
    color: $color-accent-second;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 1240px) {
    gap: 15px;
    padding: 35px;
    font-size: 28px;

    &__icon {
      width: 40px;
      height: 40px;
    }
  }

  @media (max-width: 1024px) {
    padding: 30px 20px;
    gap: 10px;
    border-radius: 50px;
    font-size: 22px;
  }

  @media (max-width: 768px) {
    padding: 15px;
    gap: 5px;
    border-radius: 20px;
    font-size: 18px;

    &__icon {
      width: 25px;
      height: 25px;
    }
  }

  @media (max-width: 425px) {
    padding: 15px 10px;
    font-size: 16px;
  }
}
