@use "../../common/variables" as *;

.short-catalog {
  position: relative;
  margin-top: -1px;
  background-color: $color-accent-main;
  color: $color-default-black;
  padding: 30px 0 81px;

  &::before {
    background-image: url("../../img/bg/short-catalog-bg.png");
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin: 0;
    margin-left: -94px;
    max-width: 620px;
    padding: 50px 54px 50px 94px;
    background-color: $color-default-white;
    border-radius: 50%;
  }

  &__preview {
    margin-top: -90px;
  }

  @media (max-width: 1240px) {
    &__title {
      padding: 40px 63px 40px 75px;
      margin-left: 0;
      margin-bottom: 80px;
    }
  }

  @media (max-width: 1024px) {
    padding: 30px 0 70px;

    &__title {
      max-width: 450px;
      padding: 35px 45px 35px 60px;
    }
  }

  @media (max-width: 768px) {
    padding: 30px 0;

    &__wrapper {
      background-color: $color-default-white;
      border-radius: 40px;
      padding: 20px 10px;
      overflow: hidden;
    }

    &__title {
      padding: 0;
      margin: 0 auto;
      text-align: center;
      max-width: 600px;
    }

    &__preview {
      margin-top: 0;
    }
  }

  @media (max-width: 425px) {
    &__title {
      margin-bottom: 15px;
    }
  }
}
