@use "../common/fonts" as *;
@use "../common/variables" as *;

*,
* ::before,
* ::after {
  box-sizing: border-box;
}

* {
  &:focus-visible {
    outline: none;
    opacity: 0.6;
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  object-fit: contain;
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  font-style: normal;
  font-family: "VictorMono", "Arial", sans-serif;
  color: $color-default-white;
  background-color: $color-default-black;

  @media (max-width: 1024px) {
    font-size: 18px;
    line-height: 130%;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

main {
  flex-grow: 1;
}

.overlay {
  overflow: hidden;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-default-black;
    opacity: 0.7;
  }
}

.modal-overlay {
  overflow: hidden;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $color-default-black;
    opacity: 0.7;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.highlight-main {
  color: $color-accent-main;
}

.highlight-additional {
  color: $color-accent-second;
}

.bg-image {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  @media (max-width: 768px) {
    &::before {
      content: none;
    }
  }
}
