$color-default-black: #1a272e;
$color-default-white: #ffffff;
$color-default-lightgrey: #7e7e7e;
$color-default-grey: #494949;
$olor-default-darkgrey: #2a343a;

$color-text-black: #324855;
$color-text-white: #efefef;
$color-text-grey: #f2f2f2;

$color-accent-main: #fdcf01;
$color-accent-second: #ff4795;
$color-accend-darksecond: #db2975;

$color-transparent-blue: rgba(62, 121, 238, 0.25);
$color-transparent-lightblue: rgba(26, 39, 46, 0.1);
$color-transparent-grey: rgba(166, 166, 166, 0.25);
$color-transparent-white: rgba(255, 255, 255, 0.1);
