@use "../../common/variables" as *;

.about {
  padding: 43px 0 0;

  &__title {
    margin: 0 0 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__text-block {
    column-gap: 28px;
  }

  &__image {
    width: 317px;
    aspect-ratio: 317 / 332;
  }

  @media (max-width: 1240px) {
    padding: 60px 0 80px;
  }

  @media (max-width: 1024px) {
    padding: 100px 0 60px;

    &__title {
      margin: 0 0 30px;
    }

    &__text-block {
      column-gap: 10px;
    }

    &__image {
      width: 100%;
      max-width: 280px;
    }
  }

  @media (max-width: 768px) {
    padding: 100px 0 40px;

    &__title {
      margin: 0 0 20px;
    }

    &__image {
      max-width: 300px;
      margin-top: 15px;
    }
  }

  @media (max-width: 425px) {
    &__info {
      gap: 5px;
    }
  }
}
