.short-blog {
  padding: 140px 0;

  &__title {
    margin: 0 0 38px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    width: calc(50% - 15px);
  }

  @media (max-width: 1240px) {
    padding: 80px 0;
  }

  @media (max-width: 1024px) {
    padding: 40px 0;

    &__title {
      margin: 0 0 30px;
    }

    &__list {
      gap: 14px;
    }

    &__item {
      width: calc(50% - 7px);
    }
  }

  @media (max-width: 768px) {
    &__title {
      text-align: center;
    }

    &__wrapper {
      max-width: 510px;
      margin: 0 auto;
    }

    &__item {
      width: 100%;
    }
  }

  @media (max-width: 425px) {
    &__title {
      margin: 0 0 15px;
    }

    &__list {
      gap: 10px;
    }
  }
}
