@use "../../common/variables" as *;

.sales {
  padding: 43px 0 140px;

  &__title {
    margin: 0 0 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    background-color: $color-default-white;
    color: $color-default-black;
    border-radius: 60px;
    overflow: hidden;
  }

  &__item-text {
    position: relative;
    z-index: 1;
    padding: 32px 0 32px 32px;
    margin: 0;
  }

  &__item-image {
    align-self: end;
    flex-shrink: 0;
    width: 50%;
    max-width: 458px;
    aspect-ratio: 458 / 396;

    img {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 1240px) {
    &__item-image {
      max-width: 400px;
    }
  }

  @media (max-width: 1024px) {
    padding: 85px 0 100px;

    &__title {
      margin: 0 0 30px;
    }

    &__list {
      gap: 15px;
    }

    &__item-text {
      padding: 25px 0 25px 25px;
      margin: 0;
    }

    &__item-image {
      max-width: 320px;
    }
  }

  @media (max-width: 768px) {
    padding: 79px 0 100px;

    &__title {
      margin: 0 0 20px;
    }

    &__list {
      gap: 10px;
    }

    &__item {
      flex-direction: column;
      border-radius: 40px;
    }

    &__item-text {
      padding: 20px 20px 0;
      max-width: 400px;
    }

    &__item-image {
      opacity: 0.4;
      margin-top: -60px;
    }
  }

  @media (max-width: 425px) {
    padding: 79px 0 30px;

    &__list {
      gap: 5px;
    }

    &__item {
      border-radius: 30px;
    }

    &__item-text {
      padding: 15px 15px 0;
      font-size: 30px;
      max-width: none;
    }

    &__item-image {
      width: 100%;
      max-width: 200px;
      opacity: 1;
      margin-top: 0;
    }
  }
}
