.catalog {
  padding: 43px 0 120px;

  &__title {
    margin: 0 0 24px;
  }

  @media (max-width: 1024px) {
    padding: 85px 0 100px;
  }

  @media (max-width: 768px) {
    padding: 79px 0 60px;
  }
}
