@use "../../common/variables" as *;

.detail-card {
  background-color: $color-default-white;
  color: $color-default-black;
  border-radius: 60px;
  padding: 40px 35px;

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-areas:
      "title  image"
      "price  image"
      "button image"
      "type   type";
    grid-template-columns: auto auto;
    row-gap: 24px;
    column-gap: 20px;
    padding-bottom: 60px;
    border-bottom: 1px solid $color-text-black;
  }

  &__image {
    grid-area: image;
    width: 523px;
    aspect-ratio: 523 / 562;
    justify-self: end;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__image--typed {
    display: none;
  }

  &__image--typed.is-active {
    display: block;
  }

  &__title {
    grid-area: title;
    margin: 0 0 16px;
  }

  &__price {
    grid-area: price;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 40px;
    align-self: end;
  }

  &__price--typed {
    display: none;
  }

  &__price--typed.is-active {
    display: flex;
  }

  &__price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__price-text {
    color: $color-text-black;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__price-number {
    font-size: 60px;
    line-height: 110%;
    font-family: "Opsilon", "Arial", sans-serif;
  }

  &__button {
    grid-area: button;
    width: 100%;
    max-width: 360px;
    align-self: end;
  }

  &__text-wrapper {
    padding-top: 40px;
    margin: 0;
    font-weight: 700;
  }

  &__type-tab {
    grid-area: type;
    margin-top: -172px;
    justify-self: end;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 423px;
    padding: 16px 71px;
    background-color: $color-default-white;
    border: 2px solid $color-default-black;
    border-radius: 30px;
    z-index: 1;
  }

  &__type-tab-text {
    display: block;
    text-transform: lowercase;
    font-size: 22px;
    line-height: 130%;
    font-weight: 700;
    text-align: center;
  }

  @media (max-width: 1240px) {
    &__wrapper {
      grid-template-columns: auto 50%;
      padding-bottom: 40px;
    }

    &__text-wrapper {
      padding-top: 30px;
    }

    &__image {
      width: 100%;
    }
  }

  @media (max-width: 1024px) {
    padding: 35px 30px;

    &__wrapper {
      gap: 15px;
    }

    &__title {
      margin: 0 0 10px;
    }

    &__price-wrapper {
      gap: 3px;
    }

    &__price-number {
      font-size: 50px;
    }

    &__image {
      align-self: center;
    }

    &__button {
      max-width: 310px;
    }

    &__type-tab {
      gap: 15px;
      padding: 16px 20px;
      max-width: 300px;
    }

    &__type-tab-text {
      font-size: 18px;
    }
  }

  @media (max-width: 768px) {
    border-radius: 40px;
    padding: 30px 25px;

    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-areas:
        "title"
        "image"
        "type"
        "price"
        "button";
      gap: 0;
      justify-items: center;
    }

    &__title {
      margin: 0 0 15px;
      text-align: center;
    }

    &__price {
      flex-direction: row;
      margin-top: 20px;
      text-align: center;
      justify-content: space-around;
    }

    &__image {
      max-width: 400px;
      justify-self: center;
    }

    &__type-tab {
      justify-self: center;
      margin-top: -111px;
      gap: 10px;
      max-width: 260px;
      padding: 10px;
      border-radius: 25px;
    }

    &__type-tab-text {
      font-size: 14px;
    }

    &__button {
      margin-top: 20px;
      max-width: 260px;
    }
  }

  @media (max-width: 425px) {
    border-radius: 30px;
    padding: 20px 15px;

    &__wrapper {
      justify-items: center;
      padding-bottom: 30px;
    }

    &__price {
      flex-direction: column;
      row-gap: 10px;
    }

    &__price-number {
      font-size: 40px;
    }

    &__text-wrapper {
      padding-top: 20px;
    }
  }
}
